<% include ../common/partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="../stylesheet/dashboard.css" />
</head>

<body>
    <div class="db_body">
        <div class="db_nav">
            <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark db_navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashNav"
                    aria-controls="dashNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span>span</span>
                </button>
                <a href="#" class="navbar-brand">User Name</a>
                <div class="collapse navbar-collapse justify-content-end" id="dashNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Assets</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Family Tree</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <div class="db_slider">
            <div class="db_profile">
                <div class="row">
                    <div class="col col-sm-4">col sm 4</div>
                    <div class="col col-sm-8">col sm 8</div>
                </div>
            </div>
            <!-- <div class="db_assets"></div> -->
            <!-- <div class="db_tree"></div> -->
        </div>

    </div>

</body>