<% include ../partials/header.ejs %>
<div class="wrapper">
    <% include ../partials/navigation.ejs %>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Card List And Action</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable"
                                        role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example1"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Rendering engine: activate to sort column descending"
                                                    style="width: 182px;">Card Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="Browser: activate to sort column ascending"
                                                    style="width: 225px;">
                                                    User Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending"
                                                    style="width: 199px;">
                                                    Organization</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% if (card_list.length > 0){%>
                                            <% for(card of card_list){%>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1"><%= card['card_name']%></td>
                                                <td><%= card['user_name']%></td>
                                                <td><%= card['org_name']%></td>
                                            </tr>
                                            <%}}else{%>
                                            <tr>
                                                <td rowspan="3">"SORRY NO CARD FOUND"</td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">Card Name</th>
                                                <th rowspan="1" colspan="1">User Name</th>
                                                <th rowspan="1" colspan="1">Organization</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</div>
<% include ../partials/footer.ejs%>