<footer class="ds_footer">
    <div class="row">
        <div class="col ds_search">
            <h3>Popular Searches</h3>
            <ul class="list-unstyled">
                <li><a href="#">Delhi</a></li>
                <li><a href="#">Mumbai</a></li>
                <li><a href="#">Banglore</a></li>
                <li><a href="#">Ghaziabad</a></li>
            </ul>
        </div>
        <div class="col ds_info">
            <h3>Company</h3>
            <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Advertise</a></li>
            </ul>
        </div>
        <div class="col ds_contact">
            <h3>Contact Us</h3>
            <ul class="list-unstyled">
                <li><a href="#">HelpLine No.</a></li>
                <li><a href="#">E-Mail Address</a></li>
                <div class="ds_social">
                    <li>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube fa-2x text-danger"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-medium fa-2x"></i></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="ds_copyright">
        <p>© ASIX Group, 2019. All Rights Reserved</p>
    </div>
</footer>