html,
body {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.ds_login {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(3, 3, 15) 10%, rgb(34, 98, 106) 100%);
    box-sizing: border-box;
    position: inherit;
}

/* input fieldset */
input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.ds_login_body {
    min-width: 20vw;
    width: auto;
    min-height: 35vh;
    height: auto;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, lightgrey 10%, darkgrey 100%);
    overflow: inherit;
    display: block;
}

@media only screen and (max-width: 426px) {
    .ds_login_body {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        display: block
    }

    form {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ds_login_body {
        display: block;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .ds_login_body {
        height: 50vh;
        width: 25vw;
        display: grid;
        justify-content: baseline
    }

    form {
        width: 90%;
        margin: 0 auto
    }
}
@media only screen and (min-width: 1440px){
    .ds_login_body{
        height: 42vh;
    }
}

.ds_login_header {
    /* margin-bottom: 50px; */
    width: 100%;
    height: 20%;
    margin: 10px 0 0px 0;
    white-space: nowrap;
    float: left;
    justify-content: center;
    align-items: center;
    top: 0;
    display: grid;
}

.ds_form {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    margin: 0 auto;
}

form {
    width: 90%;
    margin: 0 auto;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.clearBtn {
    float: right;
    transform: translate(-5px, -32px);
}

.show {
    right: 5px;
}