<% include partials/header.ejs %>
<div class="wrapper">
    <% include partials/navigation.ejs %>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Land Registration</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="/peer/saleagreement" method="POST" role="form">
                    <input type="hidden" id="status" value="0" name="status">
                    <input type="hidden" id="p1id" value="" name="person1id">
                    <input type="hidden" id="p2id" value="" name="person2id">
                    <input type="hidden" id="ladid" value="" name="landid">

                    <div class="box-body">
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1">Seller Id</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="personid">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" id="check1">Check</button>
                                </span>
                            </div>
                            <div class="box box-solid persondisplay" style="display: none">
                                <div class="box-header with-border">

                                    <h3 class="box-title">Seller Details</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body persondetail">

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="form-group" id="landss" style="display: none">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                        Option one is this and that—be sure to include why it's great
                                    </label>
                                </div>
                               
                              
                            </div>
                            <!-- /.box -->
                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1">Buyer Id</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="landid">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" id="check2">Check</button>
                                </span>
                            </div>
                            <div class="box box-solid landdisplay" style="display: none">
                                <div class="box-header with-border">

                                    <h3 class="box-title">Buyer Details</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6" id="landdetail1">

                                        </div>
                                        

                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
    <div class="control-sidebar-bg">
    </div>
</div>
<!-- ./wrapper -->
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-solid landdisplay">
                    <div class="box-header with-border">
                
                        <h3 class="box-title">Land Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" id="clear1">
                        <div class="row">
                            <div class="col-md-8" id="landdetail1">
                            </div>
                            <div class="col-md-6" id="landdetail2">                
                            </div>
                            <div class="col-md-6" id="landdetail3">            
                            </div>                
                        </div>
                
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var p = false;
    var l = false;
    var l1=false;
    $("#check1").click(async () => {
        var personid = $('#personid').val();
        $('#p1id').val(personid);
        var url = "http://148.100.245.141:3000/api/org.dsociety.rstate.participant.Person/" + personid;
        console.log(url);

        await axios.get(url)
            .then(function (response) {
                // handle success
                console.log(response.data);
            
                p = true;
               
                var persondata = `<dl><dt>Name</dt><dd>${response.data.detail.name}</dd><dt>Date Of Birth</dt><dd>${response.data.detail.dob}</dd><dt>Aadhaar Number</dt><dd>${response.data.aadhaarDetail.aadhaarNo}</dd></dl>`;
                $('.persondetail').children().remove();
                $('.persondetail').append(persondata);
                $('.persondisplay').css("display", "block");


                $('#landss').children().remove();

                for(let i=0;i< response.data.ownership.length;i++){
                var landss = `<div class="radio"><label><input type="radio"  name="optionsRadios" id="optionsRadios${i+1}" value="${response.data.ownership[i].split("#")[1]}" checked="">${response.data.ownership[i].split("#")[1]}</label></div>`;
                    $('#landss').append(landss);
                 

                   
                     $(`#optionsRadios${i+1}`).click(() => {
                             setTimeout(function () {
                                 $('#exampleModal').modal('show');
                             }, 2000);

                         let qwe= $(`#optionsRadios${i+1}`).val();
                        console.log(qwe);
                        $('#ladid').val(qwe);
                        l1=true;

                        let url=`http://148.100.245.141:3000/api/org.dsociety.rstate.land.Land/${qwe}`;
                         axios.get(url).then((response)=>{
                             
                             console.log(response.data);
                             
                             var landdetail1 = `<dl><dt>Address</dt><dd>${response.data.address}</dd><dt>State</dt><dd>${response.data.state}</dd><dt>City</dt><dd>${response.data.city}</dd></dl>`;
                             var landdetail2 = `<dl><dt>Town Locality</dt><dd>${response.data.town_locality}</dd><dt>Post Office</dt><dd>${response.data.postOffice}</dd><dt>District</dt><dd>${response.data.district}</dd><dt>Pincode</dt><dd>${response.data.pincode}</dd></dl>`;
                             var landdetail3 = `<dl><dt>Road Width</dt><dd>${response.data.roadWidth}</dd><dt>Land Width</dt><dd>${response.data.landWidth}</dd><dt>Land Height</dt><dd>${response.data.landHeight}</dd></dl><dt>Land Type</dt><dd>${response.data.type}</dd>`;
                             
                            //  $('#clear1').children().remove();
                            $('#landdetail1').append(landdetail1);
                            $('#landdetail2').append(landdetail2);
                            $('#landdetail3').append(landdetail3);
                            
                        }).catch((error)=>{
                            console.log(error);
                            
                        })


                    });
                }
                $('#landss').css("display","block");
               

            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })


    });
    $("#check2").click(async () => {
        var landid = $('#landid').val();
        $('#p2id').val(landid);
        var url = "http://148.100.245.141:3000/api/org.dsociety.rstate.participant.Person/" + landid;
        console.log(url);

        await axios.get(url)
            .then(function (response) {
                // handle success
                console.log(response.data);
                l = true;
                var landdetail1 = `<dl><dt>Name</dt><dd>${response.data.detail.name}</dd><dt>Date Of Birth</dt><dd>${response.data.detail.dob}</dd><dt>Aadhaar Number</dt><dd>${response.data.aadhaarDetail.aadhaarNo}</dd></dl>`;
                $('#landdetail1').children().remove();
                $('#landdetail1').append(landdetail1);
                $('.landdisplay').css("display", "block");

            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })


    });
    if (p == true && l == true && l1==true) {
        $('#status').val(1);
    }
</script>
<% include partials/footer.ejs%>